a:link, a:visited{
    color:white;
    background-color:red;
    text-decoration:none;
    padding:12px 20px;
    text-align: center;
    display:inline-block;
}
a:hover, a:active{
    background-color: salmon;
}

div{
    background-color: rgb(227, 233, 179);
    color: rgb(29, 28, 27)
}

.black_n_white{
    background-color:black;
    color:white}
